%center {
  display: flex;
  align-items: center;
  justify-content: center;
}

%items-center {
  display: flex;
  align-items: center;
}


%space-btw {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
